.profile__info{
    display: grid;
    margin: 0 0 0 30px;
    box-sizing: border-box;
    grid-template-columns: 1fr 24px;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    grid-template-areas: 
        "name button"
        "description description";
}

@media screen and (max-width: 576px) {
    .profile__info{
        grid-row-gap: 8px;
        grid-column-gap: 10px;
        text-align: center;
        margin: 28px 0 0;
    }
}