.element__like-number {
    margin: 3px 0 0;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
}