.element{
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 282px;
}

@media screen and (max-width: 576px) {
    .element{
        width: 100%;
    }
}