.popup__save{
    margin-top: 48px;
    padding: 0;
    border: 0;
    background-color: #000;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    height: 50px;
    width: 100%;
    border-radius: 2px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
}

.popup__save:hover{
    opacity: .8;
}

@media screen and (max-width: 576px) {
    .popup__save{
        height: 46px;
        font-size: 14px;
        line-height: 1.21;
        margin-top: 44px;
    }
}